/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #3C1220;
}
h1 {
	color: #B4B2AE;
}
h2, h3 {
	color: #8B3551;
}
img {
	max-width: 100%;
}
a {
	color: #8B3551;
}
a:link {
	color: #8B3551;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}





/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto;
	background-color:#F2F2F2;
	border-bottom: solid 2px #8B3551;
	z-index:100;
}
.logo {
	text-align: center;
	margin: 5px 0;
}
.logo img {
	float:left;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	text-decoration: underline;
	cursor:pointer;
}

.navigation .active{
	cursor:pointer;
	color: #AD234B;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

.slide h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	font-weight: 700;
}
.slide h2 {
	font-size: 2em;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

.slide p {
	font-size: 1.2em;
}



/* Slide 1 */ 

#slide1{
	margin-top: 40px;
	background-image:url('/assets/bg-sofa.jpg');
	padding: 200px 0;
}

#slide1 h1 {
	line-height: 1em;
}



/* Slide 2 */ 

#slide2{
	background-image:url('/assets/tweed.png');
	padding: 30px 0;
}

.event {
	background-color: #F2F2F2;
	background-image:url('/assets/bg-brokenteapot 2.png');
	padding: 40px 40px 5px 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
}

.event .bottomline {
	margin: 0 0 10px 0;
	padding: 0;
	text-align: right;
	height: 2em;
	line-height: 2em;
}

.event .bottomline span {
	display: inline-block;
	font-size: 2em;
	line-height: 1em;
	vertical-align: middle;
}

.event .bottomline img {
	height: 100%;
	vertical-align: middle;
}


/* Slide 3 */ 

#slide3{
	padding: 60px 0;
	background-color: #ffffff;
	background-image:url('/assets/bg-relax.jpg');
}


/* Slide 4 */ 

#slide4{
	background-image:url('/assets/bg-copas.jpg');
}


.faq {
	color: #B4B2AE;
}

.faq div {
	width: 100%;
}

.faq h3 {
	color: #F2F2F2;
	text-align: center;
}

.faq .circle {
    width:50%;
    margin: 0 auto;
}
.faq .circle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #530D0D; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.faq .circle div {
    float:left;
    width:100%;
    padding-top:50%;
    font-size: 5em;
    font-weight: bolder;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}



/* Slide 5 */

#slide5{
	border-top: solid 2px #8B3551;
	background-color: #ffffff;
	padding: 30px 0;
}

.member img {
	border-radius: 50%;
}

.member h3 {
	margin-top: 0;
	text-align: center;
	color: #3C1220;
}

.member p {
	margin: 0;
	text-align: center;
}

.margin-top {
	margin-top: 3em;
}


/* Slide 6 */

#slide6{
	background-image:url('/assets/tweed.png');
	padding: 15px 0;
}



/* Footer */

.footer {
	color: #B4B2AE;
	font-size: 1.1em;
	line-height: 2.5em;
}

.footer li {
	list-style: none;
}

.footer .logo img {
	max-height: 200px;
}


/* Tablet */
@media screen and (max-width: 1024px) {

	.logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		text-align:center;
		margin:10px 0;
	}

	.navigation{
		width: 100%;
		float: center;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
		padding:0;
	}

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#content {
		text-align:center;
		width:100%;
	}

	.slide h1,
	.slide h2 {
		line-height: 1em;
	}

}




/* Mobile */
@media screen and (max-width: 480px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		margin:5px 0;
	}

	.navigation{
		width: 100%;
		float: left;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
	}

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	.slide h1,
	.slide h2 {
		line-height: 1em;
	}


}




