#slide1.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_7
      %h1 Chill & Click
      %h2 Too exclusive to tell
      %p
        Chill out, know people like you, meet someone special
      %p
        %a{ :href => "#", "data-slide" => "2" }
          %img{src: "assets/bn-upcoming events 3.png"}
    #decorative.grid_5.omega
      %img{:src => "assets/LogoChillClick.png", width: 300, height: 300}/
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12
      %h1 Upcoming Events
      
#slide3.slide{"data-slide" => "3", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12
      %h1 Grid
      %h2 See how the grid changes when you resize your screen
    .test.grid_1 1
    .test.grid_11.omega 11
    .test.grid_2 2
    .test.grid_10.omega 10
    .test.grid_3 3
    .test.grid_9.omega 9
    .test.grid_4 4
    .test.grid_8.omega 8
    .test.grid_5 5
    .test.grid_7.omega 7
    .test.grid_6 6
    .test.grid_6.omega 6
    .test.grid_7 7
    .test.grid_5.omega 5
    .test.grid_8 8
    .test.grid_4.omega 4
    .test.grid_9 9
    .test.grid_3.omega 3
    .test.grid_10 10
    .test.grid_2.omega 2
    .test.grid_11 11
    .test.grid_1.omega 1
    .test.grid_12 12
#slide4.slide{"data-slide" => "4", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12
      %h1.hi Credits
      %h2.hi
        %a{:href => "http://jalxob.com/cool-kitten", :target => "_blank"} Cool Kitten
        was made by
        = succeed "." do
          %a{:href => "http://www.jalxob.com", :target => "_blank"} Jalxob
      %p Don't forget to follow me!
      %p
        %a{:href => "https://twitter.com/Jalxob", :target => "_blank"}
          %img{:src => "assets/twitter.png"}/
        %a{:href => "http://dribbble.com/jalxob", :target => "_blank"}
          %img{:src => "assets/dribbble.png"}/